{% extends 'base.html' %} 

{% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Mi Primera Borrachera </h1>

    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eius id ea perferendis labore reprehenderit at aspernatur repellendus expedita eligendi. Ipsa reprehenderit magni rerum necessitatibus, aliquid harum. Excepturi, accusamus rem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam minima harum, asperiores similique architecto itaque provident est, ab hic ipsum delectus officia quia rerum doloremque! Fugiat ab repellendus debitis nobis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit alias quaerat qui, illo fugit suscipit sequi placeat, dignissimos earum blanditiis dolore! Voluptatem reprehenderit repellat nesciunt vero corporis, eligendi cum earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta omnis cum nam molestias quo asperiores ipsam impedit quibusdam harum? Quas optio sit tempora, aliquam possimus et deserunt odit aperiam necessitatibus?</p>

    <div class="text-center">
      <a class="btn btn-primary" href="/signin">
        Iniciar sesión
      </a>
      <a class="btn btn-primary" href="/signup">
        ¡Registrate!
      </a>
    </div>
  </section>
</main>

{% endblock %}
